/*
COLORS:
#00568c - Blue
#008e66 - Green
#ffffff - White
#cccccc - Grey
#00568c99 - Blue Fade
#008e6699 - Green Fade
 */

 * {
    padding: 0;
    margin: 0;
    border: 0;
 }

 body {

 }

 header {
   background-image: linear-gradient(#00568c, #00568c , #ffffff);
 }

 .headerLogo {
   max-height: 300px;
   max-width: 400;
   margin-left: 25%;
 }

 nav {
   background-color: #00568c;
   padding: 5px 0;
   width: 100%;
   min-height: 50px;
 }

 nav ul {
   background-color: #00568c;
   display: block;
   text-align: center;
 }

 nav ul li {
   background-color: #00568c;
   color: #ffffff;
   display: inline-block;
   list-style: none;
   width: 15%;
   margin-top: .8%;
 }

 nav ul li a {
   color: #ffffff;
   text-decoration: none;
   font-size: 1.5em;
 }

 nav ul li:hover {
   background-color: #008e66;
   text-decoration: underline;
   color: #ffffff;
 }

 nav ul li a:hover {
   background-color: #008e66;
   text-decoration: underline;
   color: #ffffff;
 }

 h1 {
    font-size: 5em;
    color: #008e66;
    margin-left: 10px;
 }

 blockquote {

 }

 main {

 }

main #container {
   padding: 3% 0;
   margin: 0 auto;
   width: 80%;
   min-height: 500px;
   font-size: 1.8em;
   background-image: linear-gradient(#ffffff, #cccccc, #cccccc, #008e66, #ffffff);
}

h3 {
   font-size: 1.5em;

}

.mainIMG {
   max-height: 500px;
   max-width: 600px;
   float: left;
   padding: 10px;
}

.mainIMG2 {
   max-height: 500px;
   max-width: 600px;
   float: right;
   padding: 10px;
}

.navlogoImg {
   max-height: 300px;
   max-width: 400;
}

 table {

 }

 #colors {
   background-image: linear-gradient(#ffffff, #00568c, #00568c);
 }

footer {
   text-align: center;
   font-size: 1.2em;
}

#template {
   background-color: #00568c;
   color: #ffffff;
   padding: 10px;
   border-radius: 5px;
   font-size: 1.2em;
   text-align: center;
}

#template:hover {
   background-color: #008e66;
   color: #ffffff;
   text-decoration: underline;
}