/*
COLORS:
#00568c - Blue
#008e66 - Green
#ffffff - White
#cccccc - Grey
#00568c99 - Blue Fade
#008e6699 - Green Fade
 */

 * {
    padding: 0;
    margin: 0;
    border: 0;
 }

 body {

 }

 header {
   background-image: linear-gradient(#00568c99, #ffffff);
 }

 nav {
   background-color: #00568c;
   padding: 5px 0;
   width: 100%;
   min-height: 50px;
 }

 nav ul {
   background-color: #00568c;
   display: block;
   text-align: center;
 }

 nav ul li {
   background-color: #00568c;
   color: #ffffff;
   display: inline-block;
   list-style: none;
   width: 15%;
   margin-top: .8%;
 }

 nav ul li a {
   background-color: #00568c;
   color: #ffffff;
   text-decoration: none;
   font-size: 1.5em;
 }

 nav ul li:hover {
   background-color: #ffffff;
   text-decoration: underline;
   color: black;
 }

 nav ul li a:hover {
   background-color: #ffffff;
   text-decoration: underline;
   color: black;
 }

 h1 {
    font-size: 5em;
    color: #008e66;
 }

 blockquote {

 }

 main {

 }

#container {
   padding: 3% 0;
   margin: 0 auto;
   width: 80%;
   min-height: 500px;
   font-size: 1.8em;
   background-color: #cccccc;
}

h3 {
   font-size: 1.5em;

}

.mainIMG {
   max-height: 500px;
   min-height: 400px;
   max-width: 600px;
   min-width: 500px;
}

 table {

 }

